.appointment-preview {
  position: absolute;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  padding: 0 10px;
  border-radius: 4px;
  margin: 0 2px;
  width: calc(100% - 5px);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 4px rgb(0 0 0 / 60%);
    transition: 0.2s;
  }
}