<div class="vaccination-center-list-item" [ngClass]="lastChild ? 'last-child' : ''">
  <div class="center-name">{{ center.name | titlecase }}</div>
  <div class="center-infos">
    <div class="center-city" *ngIf="center.city">
      <mat-icon>home</mat-icon>
      <div class="city-name">{{ center.city }}</div>
    </div>
    <div class="center-phone" *ngIf="center.phone">
      <mat-icon>phone</mat-icon>
      <div class="phone-number">{{ center.phone }}</div>
    </div>
  </div>
  <div class="appointment-availability" [ngClass]="available_appointments ? 'available' : ''">
    <mat-icon *ngIf="isHomePage && available_appointments" class="green-check-icon">check</mat-icon>
    <mat-icon *ngIf="isHomePage && !available_appointments" class="green-check-icon">close</mat-icon>
    <span *ngIf="isHomePage && available_appointments">Rendez-vous disponible(s)</span>
    <span *ngIf="isHomePage && !available_appointments">Aucun rendez-vous</span>
    <button mat-raised-button *ngIf="!isHomePage" (click)="onEditClick()">
      Modifier le centre
    </button>
  </div>
  <div>
    <button mat-raised-button *ngIf="isHomePage" (click)="onAppointementClick()">
      Prendre RDV
    </button>
    <button mat-raised-button *ngIf="!isHomePage" (click)="onAdminAndMedecinClick()">
      Voir les admins et médecins rattachés
    </button>
  </div>
</div>