<div class="vaccination-center-list-item" [ngClass]="lastChild ? 'last-child' : ''">
  <div class="center-name">{{ center.name | titlecase }}</div>
  <div class="center-infos">
    <div class="center-city" *ngIf="center.city">
      <mat-icon>home</mat-icon>
      <div class="city-name">{{ center.city }}</div>
    </div>
    <div class="center-phone" *ngIf="center.phone">
      <mat-icon>phone</mat-icon>
      <div class="phone-number">{{ center.phone }}</div>
    </div>
  </div>
  <div class="appointment-availability">
    <mat-icon *ngIf="isHomePage()" class="green-check-icon">check</mat-icon> <!-- TODO -->
    <span *ngIf="isHomePage()">Rendez-vous disponible(s)</span>
    <button mat-raised-button *ngIf="isManagementCentersPage()" (click)="onEditClick()">
      Modifier le centre
    </button>
  </div>
  <div>
    <button mat-raised-button *ngIf="isHomePage()" (click)="onAppointementClick()">
      Prendre RDV
    </button>
    <button mat-raised-button *ngIf="isManagementCentersPage()" (click)="onAdminAndMedecinClick()">
      Voir les admins et médecins rattachés
    </button>
  </div>
</div>