.form {
  display: flex;
  flex-direction: column;

  .identity-wrapper,
  .select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    * {
      width: 45%;
    }
  }

  app-input,
  app-select {
    margin-bottom: 15px;
  }
}
