<mat-card class="centers-list-card" [ngClass]="lastChild ? 'last-child' : ''">
  <mat-card-header>
    <mat-card-title class="nowrap">{{ center.name | titlecase }}</mat-card-title>
    <mat-card-subtitle class="nowrap">
      <div class="address" *ngIf="center.city || center.zipCode  || center.address">
        <span *ngIf="center.address">{{ center.address | titlecase }}, </span>
        <span *ngIf="center.zipCode">{{ center.zipCode }} </span>
        <span *ngIf="center.city">{{ center.city }}</span>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="isHomePage">
    <div class="appointment-availability" [ngClass]="available_appointments ? 'available' : ''">
      <mat-icon *ngIf=" available_appointments" class="green-check-icon">check</mat-icon>
      <mat-icon *ngIf="!available_appointments" class="green-check-icon">close</mat-icon>
      <span *ngIf="available_appointments">Rendez-vous disponible(s)</span>
      <span *ngIf="!available_appointments">Aucun rendez-vous disponible</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="action" mat-raised-button *ngIf="isHomePage" [disabled]="!available_appointments"
      (click)="onAppointementClick()">
      Prendre RDV
    </button>
    <div *ngIf="!isHomePage" class="actions">
      <div>
        <button mat-stroked-button color="primary" (click)="onCenterEditClick()">
          Modifier
        </button>
        <button mat-stroked-button color="warn" (click)="onCenterDeleteClick()">
          Supprimer
        </button>
      </div>
      <button class="admin-and-doctor-button" mat-stroked-button (click)="onAdminAndDoctorEditClick()">
        Gérer les administrateurs et médecins
      </button>
      <button mat-icon-button class="admin-and-doctor-icon" (click)="onAdminAndDoctorEditClick()">
        <mat-icon>group</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>