<div class="header">
  <a class="title" routerLink="/centers">{{ title }}</a>
  <ul>
    <li>
      <a mat-button routerLink="/centers" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    </li>
    <li *ngIf="this.authService.user === null">
      <a mat-button routerLink="/login" routerLinkActive="active">Se connecter</a>
    </li>
    <!-- superadmin only -->
    <li *ngIf="this.authService.user !== null">
      <a mat-button routerLink="/management/centers" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Gestion des centres
      </a>
    </li>
    <!-- admins only -->
    <li *ngIf="this.authService.user !== null">
      <a mat-button routerLink="/management/mycenter" routerLinkActive="active">
        Gestion de mon centre</a>
    </li>
    <!-- admins and doctors only -->
    <li *ngIf="this.authService.user !== null">
      <a mat-button routerLink="/myschedule" routerLinkActive="active">Planning</a>
    </li>
    <!-- superadmin only -->
    <li *ngIf="this.authService.user !== null">
      <a mat-button routerLink="/configuration" routerLinkActive="active">Configuration</a>
    </li>
    <li *ngIf="this.authService.user !== null">
      <button mat-raised-button color="warn" (click)="this.onLogout()">Déconnexion</button>
    </li>
  </ul>
</div>