.users-list {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;

  .header {
    position: relative;

    .title {
      background-color: #ddd;
      border-radius: 10px 10px 0 0;
      padding: 15px 50px;
      font-weight: 700;
    }

    mat-icon {
      position: absolute;
      height: 25px;
      top: 25%;
      right: 5%;
      cursor: pointer;
    }

    mat-icon:hover {
      transform: translateY(-1px);
    }
  }
}