<div class="centers-management-page">
  <form class="search-center-form" (submit)="onSearchCity()">
    <div class="title">Ajoutez un nouveau centre de vaccination ?</div>
    <app-button class="new-center-button" title="Nouveau centre"></app-button>
    <div class="title">Filtrez les centres de vaccination</div>
    <app-input class="search-input" name="search_item" placeholder="Dans quelle ville est le centre ?"
      [(inputValue)]="citySearchTerm" [search]="true">
    </app-input>
    <mat-spinner class="loader" *ngIf="isLoading()"></mat-spinner>
  </form>
  <img src="/assets/management.png" alt="Gestion">
  <app-vaccination-center-list [list]="centers"></app-vaccination-center-list>
  <app-button class="more-button" title="Afficher plus" (clickEvent)="onMoreRequest()" *ngIf="isNotLoading()">
  </app-button>
</div>