<div class="centers-management-page">
  <form class="search-center-form" (submit)="onSearchCity()">
    <div class="title" [ngStyle]="{'color': color}">Ajoutez un nouveau centre de vaccination ?</div>
    <app-button class="new-center-button" title="Nouveau centre"></app-button>
    <div class="title" [ngStyle]="{'color': color}">Filtrez les centres de vaccination</div>
    <app-input class="search-input" name="search_item" placeholder="Dans quelle ville ?" [(inputValue)]="citySearchTerm"
      [search]="true">
    </app-input>
    <mat-spinner class="loader" *ngIf="isLoading()"></mat-spinner>
  </form>
  <img src="/assets/flat-hand-drawn-doctor-injecting-vaccine-patient.jpg" alt="Gestion">
  <app-vaccination-center-list [list]="centers"></app-vaccination-center-list>
  <app-button class="more-button" title="Afficher plus" (clickEvent)="onMoreRequest()" *ngIf="isNotLoading()">
  </app-button>
</div>