.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .title {
    max-width: 90%;
    font-weight: 600;
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;

  .identity-wrapper,
  .select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    * {
      width: 45%;
    }
  }

  app-input,
  app-select {
    margin-bottom: 15px;
  }


  .actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 5px;

    * {
      margin: 0 10px;
    }
  }
}