<div class="homepage">
  <form class="search-center-form" (submit)="onSearchCity()">
    <div class="title">Trouvez un centre de vaccination près de chez vous</div>
    <mat-form-field [style.width]="'90%'">
      <mat-label>Dans quelle ville ?</mat-label>
      <input name="search_item" matInput [(ngModel)]="citySearchTerm" placeholder="Ex: Nancy">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-spinner class="loader" *ngIf="isLoading()"></mat-spinner>
  </form>
  <img src="/assets/doctor-vaccinating-patient-clinic.png" alt="Vaccination" />
  <app-vaccination-center-list [list]="centers"></app-vaccination-center-list>
  <button mat-raised-button [style.margin]="'auto'" color="primary" *ngIf="isNotLoading()" (click)="onMoreRequest()">
    Afficher plus
  </button>
</div>