.center-management-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 40px);

  .information-wrapper {
    width: 25%;
    min-width: 250px;
    border-right: 2px solid #ddd;
  }

  .management-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5% 5% 0 5%;
    width: 100%;

    .search-doctor-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;

      .title {
        font-size: 30px;
        font-weight: bold;
        white-space: nowrap;
      }

      .search-input {
        padding-right: 10%;
      }
    }
  }
}