<div class="centers-management-page">
  <div class="search-center">
    <div class="title">Ajoutez un nouveau centre de vaccination ?</div>
    <button mat-raised-button (click)="onNewCenter()">
      Nouveau centre
    </button>
    <div class="title second">Filtrez les centres de vaccination</div>
    <form (submit)="onSearchCity()">
      <mat-form-field [style.width]="'40%'">
        <mat-label>Dans quelle ville ?</mat-label>
        <input name="search_item" class="search-input" matInput [(ngModel)]="citySearchTerm" placeholder="Ex: Nancy">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <img class="image" src="/assets/flat-hand-drawn-doctor-injecting-vaccine-patient.jpg" alt="Gestion" />
  </div>
  <app-centers-list *ngIf="!this.listLoading" [list]="centers"></app-centers-list>
  <div *ngIf="this.listLoading" class="centers-loading">
    <div class="centers-skeleton">
      <ngx-skeleton-loader count="2" appearance="circle" [theme]="{
        width: '47.5%',
        height: '138px',
        'border-radius': '10px'
      }"></ngx-skeleton-loader>
    </div>
    <div class="centers-skeleton">
      <ngx-skeleton-loader count="2" appearance="circle" [theme]="{
        width: '47.5%',
        height: '138px',
        'border-radius': '10px'
      }"></ngx-skeleton-loader>
    </div>
  </div>
  <button mat-raised-button color="primary" [style.margin]="'auto'" *ngIf="!this.lastPage" [disabled]="this.listLoading"
    (click)="onMoreRequest()">
    Afficher plus
  </button>
</div>