.content {
  display: flex;
  flex-direction: row;
  height: calc(100% - 48px);

  .information-wrapper {
    width: 35%;
    border-right: 2px solid #ddd;
  }

  .management-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 5%;
    width: 100%;

    .search-doctor-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}