<div class="vaccination-center-list-item" [ngClass]="lastChild ? 'last-child' : ''">
  <div class="center-name">{{ name | titlecase }}</div>
  <div class="center-infos">
    <div class="center-city">
      <mat-icon>home</mat-icon>
      <div class="city-name">{{ city }}</div>
    </div>
    <div class="center-phone">
      <mat-icon>phone</mat-icon>
      <div class="phone-number">{{ phone }}</div>
    </div>
  </div>
  <div class="appointment-availability">
    <mat-icon *ngIf="isHomePage()" class="green-check-icon">check</mat-icon> <!-- TODO -->
    <span *ngIf="isHomePage()">Rendez-vous disponible(s)</span>
    <app-button *ngIf="isManagementCentersPage()" title="Modifier le centre" (clickEvent)="onEditClick()"></app-button>
  </div>
  <div>
    <app-button *ngIf="isHomePage()" title="Prendre RDV" (clickEvent)="onAppointementClick()"></app-button>
    <app-button *ngIf="isManagementCentersPage()" title="Voir les admins et médecins rattachés"
      (clickEvent)="onAdminAndMedecinClick()"></app-button>
  </div>
</div>