<div class="header">
  <h1 class="title" mat-dialog-title>
    {{ this.data.type === "creation"
    ? "Ajout d'un nouveau centre"
    : "Modification du centre" }}
  </h1>
  <mat-icon class="close-button" mat-dialog-close>close</mat-icon>
</div>
<form class="form" (submit)="this.storeCenter()" mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input name="name" matInput [formControl]="this.centerNameFC" placeholder="Ex: CHU Nancy">
    <mat-error *ngIf="this.centerNameFC.hasError('required')">
      Le nom du centre est <strong>requis</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Adresse</mat-label>
    <input name="address" matInput [formControl]="this.centerAddressFC" placeholder="Ex: 10 Boulevard des Aiguillettes">
  </mat-form-field>
  <div class="city-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Code postal</mat-label>
      <input name="zip_code" matInput [formControl]="this.centerZipCodeFC" placeholder="Ex: 54000">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ville</mat-label>
      <input name="address" matInput [formControl]="this.centerCityFC" placeholder="Ex: Nancy">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Téléphone</mat-label>
    <input name="address" matInput [formControl]="this.centerPhoneFC" placeholder="Ex: +33 3 82 83 70 10">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <div class="actions-wrapper">
    <mat-icon class="manage-user-button" color="primary" (click)="onManageUser()" *ngIf="this.data.type==='update'">
      group
    </mat-icon>
    <button mat-button mat-dialog-close>
      Annuler
    </button>
    <button mat-raised-button type="submit" color="primary" [disabled]="this.storeLoading || !this.formIsValid()"
      [ngClass]="{ loading: this.storeLoading }">
      {{ this.data.type === "creation" ? "Ajouter" : "Modifier" }}
      <mat-spinner diameter="25" strokeWidth="2" [style.margin]="'0'"></mat-spinner>
    </button>
  </div>
</form>