<div class="header">
  <h1 class="title" [ngStyle]="{'color': color}" mat-dialog-title>{{ data['title'] }}</h1>
  <mat-icon class="close-button" mat-dialog-close>close</mat-icon>
</div>
<form class="form" mat-dialog-content>
  <app-input label="Nom" placeholder="Ex: CHU Nancy" name="name_item" [(inputValue)]="nameTerm">
  </app-input>
  <app-input label="Adresse" placeholder="Ex: 10 Boulevard des Aiguillettes" name="address_item"
    [(inputValue)]="addressTerm"></app-input>
  <div class="city-wrapper">
    <app-input label="Code postal" placeholder="Ex: 54000" name="zip_code_item" [(inputValue)]="zipCodeTerm">
    </app-input>
    <app-input label="Ville" placeholder="Ex: Nancy" name="city_item" [(inputValue)]="cityTerm">
    </app-input>
  </div>
  <app-input label="Téléphone" placeholder="Ex: +33 3 82 83 70 10" name="phone_item" [(inputValue)]="phoneTerm">
  </app-input>
  <div class="actions-wrapper">
    <mat-icon class="manage-user-button" (click)="onManageUser()" *ngIf="!data['isAddDialog']">group
    </mat-icon>
    <app-button title="Créer" (clickEvent)="onAddCenter()"></app-button>
  </div>
</form>