<div class="center-management-page">
  <div class="information-wrapper">
    <app-center-informations></app-center-informations>
  </div>
  <div class="management-wrapper">
    <form class="search-doctor-form">
      <div class="title">Gérez les médecins de votre centre</div>
      <mat-form-field>
        <mat-label>Filtrez par nom</mat-label>
        <input name="search_item" matInput [(ngModel)]="this.nameSearchTerm" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <div class="doctors-list">
      <app-users-list [list]="this.getDoctorsList()" [role]="this.role" [center]="this.center"
        (userEdited)="onUserEdited($event)"></app-users-list>
    </div>
    <mat-spinner class="loader" *ngIf="this.listLoading"></mat-spinner>
  </div>
</div>