.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  label {
    padding-bottom: 5px;
  }

  .input-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    input {
      color: black;
      background-color: #EEE;
      border-radius: 3px;
      border: none;
      outline: none;
      min-height: 25px;
      padding: 5px 5px 5px 10px;
      width: 100%;
    }

    mat-icon {
      position: absolute;
      right: 0;
    }
  }
}