.main {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
  }

  .input-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    input {
      color: black;
      background-color: #EEE;
      border-radius: 3px;
      border: none;
      outline: none;
      min-height: 25px;
      padding: 15px;
      width: 100%;
    }

    mat-icon {
      position: absolute;
      right: 5px;
    }
  }
}