<div class="header">
  <h1 class="title" mat-dialog-title>
    {{ this.roles.includes('SUPERADMIN')
    ? "Suppression du superadmin"
    : (this.roles.includes('ADMIN')
    ? "Suppression de l'administrateur"
    : (this.roles.includes('DOCTOR')
    ? "Suppression du médecin"
    : (this.data.center ? "Suppression du centre" : "Suppression du rendez-vous")))
    }}
  </h1>
  <mat-icon class="close-button" mat-dialog-close>close</mat-icon>
</div>
<div mat-dialog-content>
  Etes-vous sûr de vouloir supprimer
  {{ this.roles.includes('SUPERADMIN')
  ? "le superadmin"
  : (this.roles.includes('ADMIN')
  ? "l'administrateur"
  : (this.roles.includes('DOCTOR')
  ? "le médecin"
  : (this.data.center ? "le centre" : "le rendez-vous de ")))
  }}
  <strong>
    {{ this.data.user?.lastName | uppercase }} {{ this.data.user?.firstName | titlecase }}
    {{this.data.center?.name | titlecase }}
    {{this.data.appointment?.patient.lastName | uppercase }} {{this.data.appointment?.patient.firstName | titlecase }}
  </strong> ?
  <div class="actions-wrapper">
    <button mat-button mat-dialog-close>
      Annuler
    </button>
    <button mat-raised-button color="primary" (click)="this.onConfirmDelete()" [disabled]="this.deleteLoading"
      [ngClass]="{ loading: this.deleteLoading }">
      Confirmer
      <mat-spinner diameter="25" strokeWidth="2" [style.margin]="'0'"></mat-spinner>
    </button>
  </div>
</div>