.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .title {
    max-width: 90%;
    font-weight: 600;
    color: var(--blue);
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}