<div class="header">
  <h1
    class="title"
    [ngStyle]="{ color: this.authService.getColorTheme() }"
    mat-dialog-title
  >
    Prendre un rendez-vous
  </h1>
  <mat-icon class="close-button" mat-dialog-close>close</mat-icon>
</div>
<div class="dialog-body">
  <div>
    <div>Êtes-vous sûr de vouloir prendre ce rendez-vous ?</div>
    <div>
      <div><span class="fw-bold">Date : </span>{{ this.getDate() }}</div>
      <div><span class="fw-bold">Heure : </span>{{ this.getTime() }}</div>
    </div>
  </div>
  <div></div>
</div>
<div class="actions-wrapper">
  <button mat-button mat-dialog-close>Annuler</button>
  <button
    mat-raised-button
    color="primary"
    (click)="this.registerAppointment()"
  >
    Enregistrer
  </button>
</div>
