<div class="vaccination-center">
  <h1 [title]="center?.name">{{ center?.name | uppercase }}</h1>

  <section *ngIf="center?.city || center?.address || center?.zipCode">
    <h2>Adresse</h2>
    <div>
      <span>{{ center?.address }}</span>
    </div>
    <div>
      <span>{{ center?.zipCode }} {{ center?.city }}</span>
    </div>
  </section>
  <section *ngIf="center?.phone || center?.email">
    <h2>Contact</h2>
    <div *ngIf="center.phone !== null">
      <span>Téléphone : </span><span>{{ center.phone }}</span>
    </div>
    <div *ngIf="center.email !== null">
      <span>Email : </span><span>{{ center.email }}</span>
    </div>
  </section>
</div>